<div [hidden]="hidden" class="darkbackground"> 
  <div class="container">
      <div class="row ml-auto mr-auto">
          <div class="col col-md-3"></div>
          <div class="col col-md-6 mt-3 text-center">
            <i class="fa fa-check-circle fa-5x text-light" aria-hidden="true"></i>
            <h2 class="mb-3 text-light mt-3">Aktivacija naloga</h2>
            <p class="text-light mt-5">
              Nalog je uspešno aktiviran. Možete nastaviti sa prijavom.
            </p>
          </div>
          <div class="col col-md-3"></div>
      </div>
  </div>    
</div>