<div class="container">
  <div class="row mt-5">
    <h2 class="text-primary mb-5">Kupljeni predmeti:</h2>
  </div>
  <div class="row mb-5" *ngFor="let c of casopisi">
    <table class="table table-dark">
      <thead>
        <tr class="text-center">
          <th colspan="4" scope="col">{{c.naziv}}</th>
        </tr>
        <tr>
          <th scope="col">Broj</th>
          <th scope="col">Naziv</th>
          <th scope="col">Datum izdanja</th>
          <th scope="col">Cena</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of c.izdanja">
          <td>{{i.broj}}</td>
          <td>{{i.naziv}}</td>
          <td>{{i.datumIzdanja}}</td>
          <td>{{i.cena}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>