<div class="darkbackground">
    <div class="container">
        <div class="row mt-5">
            <div class="col md-3"></div>
            <div class="col md-6 mt-5 mb-5">
                <h1 class="text-light mb-5">PayPal Pretplata</h1>

                <form #form="ngForm" ngNativeValidate (ngSubmit)="onSubmit(form)">

                    <div class="form-group">
                        <label class="text-light" for="type">Tip ciklusa: </label>
                        <select name="type" id="type" class="form-control" [(ngModel)]="body.type" required>
                            <option value="INFINITE">
                                Infinite
                            </option>
                            <option value="FIXED">
                                Fixed
                            </option>
                        </select>
                    </div>

                    <div class="form-group" *ngIf="body.type=='FIXED'">
                        <label class="text-light" for="numCicles">Broj ciklusa: </label>
                        <input name="numCicles" [(ngModel)]="body.numCicles" id="numCicles" type="number" class="form-control" required/>
                    </div>

                    <label class="text-light">Period: </label>
                    <div class="row">
                        <div class="form-group col">
                            <input name="brojPeriod" [(ngModel)]="plan.ucestalostPerioda" id="brojPeriod" type="number" class="form-control" readonly required/>
                        </div>

                        <div class="form-group col">
                            <select name="period" id="period" class="form-control" [(ngModel)]="plan.period" readonly required>
                                <option value="DAY">
                                    Dan
                                </option>
                                <option value="WEEK">
                                    Nedelja
                                </option>
                                <option value="MONTH">
                                    Mesec
                                </option>
                                <option value="YEAR">
                                    Godina
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="text-light" for="cena">Cena po ciklusu: </label>
                        <input name="cena" [(ngModel)]="plan.cena" id="cena" type="number" class="form-control" readonly required/>
                    </div>
                    
                    <button id="submit" [hidden]="hidden" class="btn btn-primary mt-4">Potvrdi</button>
                    <div [hidden]="!hidden" class="lds-roller mt-3"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                </form>
            </div>
            <div class="col md-3"></div>
        </div>
    </div>
</div>
